body{
  background-color: #EAEAEA !important;
}
.ui.inverted.top.fixed.menu{
  /* настройка цветов для навбара 
  background-image: linear-gradient(135deg,rgb(24,42,115) 0%, rgb(33,138,174) 69%, rgb(32,167,172) 89%) !important;:
   это свойство устанавливает фоновое изображение для элемента с классом ".ui.inverted.top.fixed.menu".
   Здесь используется линейный градиент, заданный с помощью функции linear-gradient().
   Градиент имеет угол 135 градусов и состоит из трех цветовых остановок.
   Первая остановка имеет цвет rgb(24,42,115) и расположена на 0% пути градиента,
   вторая остановка имеет цвет rgb(33,138,174) и находится на 69% пути градиента,
   а третья остановка имеет цвет rgb(32,167,172) и находится на 89% пути градиента. 
  !important снова указывает на применение этого стиля вне зависимости от других стилей.*/
  background-image: linear-gradient(135deg,rgb(24,42,115) 0%, rgb(33,138,174) 69%, rgb(32,167,172) 89%) !important;
}

